nav 
{
	background-color: rgb(15,124,110);
	position: fixed;
	width: 15%;
	margin-top:300px;
	height: 60%;
	
}

nav > h3
{
	font-size: 24px;
	color: rgb(216,215,223)
}
nav > h2
{
	color: rgb(216,215,223);
}
nav > p
{
	color: rgb(216,215,223);
}

nav > p
{
	font-size: 23px;
}

nav > ol > li
{
	font-size: 21px;
	color: rgb(216,215,223);
}


header
{
	position: fixed;
}


footer
{
	background-color: rgb(15,124,110);
	text-align: center;
	
}

tr > img
{
	height: 29px;
	width: 29px;
}


#foot
{
	font-size: 22px;
}

table
{
	border: 5px solid #000000;
	
	
}


.inf
{
	position: relative;
	left: 550px;

	top: -230px;
}






th
{
	border:  solid ;
	border-color:rgb(15,124,110);
	width: 70px;
	height: 30px;
	
}

td
{
	text-align: center;
}



li
{
	font-size: 30px;
}
p
{
	font-size: 30px;
	
}

header > h1
{
	font-size: 40px;
	text-align: center;
}
main
{
	margin-left: 330px;
	position: float;
	margin-top: 0px;
	
}

.parcours
{
	width: 1000px;
	height: 310px;
	
}

h3, h1
{
	font-size: 45px;
	color: rgb(15,124,110);
}


body
{
	background-color: white;
}